@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");
// font-family: 'Poppins', sans-serif;

@font-face {
	font-family: "icons";
	src: url("../fonts/icons.ttf?v5caeh") format("truetype"), url("../fonts/icons.woff?v5caeh") format("woff"),
		url("../fonts/icons.svg?v5caeh#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before{
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-developer_icon:before {
	content: "\e900";
}
.icon-Shape_1:before {
	content: "\e901";
}
.icon-Shape_2:before {
	content: "\e902";
}
.icon-Shape_3:before {
	content: "\e903";
}
.icon-Shape_4:before {
	content: "\e904";
}
.icon-wallet_icon:before {
	content: "\e905";
}
