.header {
	padding: 0px 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	@include adaptiv-value("min-height", 125, 70, 0);
	&__row {
		@include adaptiv-value("min-height", 125, 70, 0);
		display: flex;
		align-items: center;
		padding: 0px 45px;
	}

	&__column {
		&:first-child {
			flex: 0 0 20%;
		}
		flex: 1 1 auto;
		&:last-child {
			flex: 0 0 20%;
		}
	}

	&__logo {
		display: inline-flex;
		align-items: center;
		transition: all 0.3s ease;
		position: relative;
		z-index: 11;
	}

	&__img {
		max-width: 100%;
		margin: 0px 10px 0px 0px;
	}

	&__text {
		color: #ffffff;
		font-size: 26px;
		line-height: 341.34%;
		display: inline-block;
	}
}
.menu {
	&__icon {
		display: none;
	}
	&__arrow {
		position: absolute;
		border: solid #fff;
		border-width: 0 1px 1px 0;
		display: inline-block;
		padding: 2px;
		transform: rotate(45deg);
		right: -10px;
		top: 43%;
		transition: all 0.3s ease;
	}
	&__sublist {
		position: absolute;
		top: 100%;
		background-color: #000;
		right: 0;
		padding: 15px;
		min-width: 150px;
		text-align: center;
	}

	&__item {
		&:not(:last-child) {
			@include adaptiv-value("margin-right", 45, 20, 0);
		}
		position: relative;
		
	}
	&__subitem {
		&:not(:last-child) {
			@include adaptiv-value("margin-bottom", 30, 15, 0);
		}
	}
	&__link {
		color: #ffffff;
		font-weight: 600;
		line-height: 375%;
		display: block;
		position: relative;
		transition: all 0.3s ease;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			width: 0;
			height: 6px;
			background-color: #fff;
			border-radius: 5px;
			bottom: 0;
			transition: all 0.3s ease;
		}
		&.active{
			transition: all 0.3s ease;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 6px;
				height: 6px;
				background-color: #fff;
				border-radius: 100%;
				transition: all 0.3s ease;
				transform: translate(-50%,0);
			}
		}
	}
	&__sublink {
		color: #ffffff;
		font-weight: 600;
		line-height: 110%;
		display: inline-block;
		position: relative;
		transition: all 0.3s ease;
		@include adaptiv-value("padding-bottom", 15, 5, 0);
		text-align: center;
		// &-arrow {
		// 	&::before {
		// 		content: "";
		// 		position: absolute;
		// 		top: 50%;
		// 		transform: translate(0, -100%);
		// 		right: -11px;
		// 		width: 6px;
		// 		height: 4px;
		// 		background: url("../img/icons/arrow_down.png") 0 0 no-repeat;
		// 	}
		// }
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			width: 0;
			height: 6px;
			background-color: #fff;
			border-radius: 5px;
			bottom: 0;
			transition: all 0.3s ease;
		}
	}
}
.actions-header {
	display: flex;
	justify-content: flex-end;
	> *:not(:last-child) {
		@include adaptiv-value("margin-right", 12, 5, 0);
	}

	&__login,
	&__register {
		color: #ffffff;
		font-size: 14px;
		font-weight: 600;
		transition: all 0.3s ease;
		position: relative;
		z-index: 11;
	}
	&__login {
		border-radius: 35px;
		border: 2px solid #ffffff;
		@include adaptiv-value("padding-top", 13, 5, 0);
		@include adaptiv-value("padding-right", 30, 15, 0);
		@include adaptiv-value("padding-left", 30, 15, 0);
		@include adaptiv-value("padding-bottom", 13, 5, 0);
	}
	&__register {
		box-shadow: 0 16px 28px rgba(37, 8, 116, 0.22);
		border-radius: 35px;
		background-color: #201375;
		padding: 15px 30px 15px 48px;
		@include adaptiv-value("padding-top", 15, 5, 0);
		@include adaptiv-value("padding-right", 30, 15, 0);
		@include adaptiv-value("padding-bottom", 15, 5, 0);
		@include adaptiv-value("padding-left", 48, 25, 0);
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			@include adaptiv-value("left", 26, 3, 0);
			width: 16px;
			height: 12px;
			background: url("../img/icons/register_icon.png") 0 0 no-repeat;
		}
	}
}
