.price {
	@include adaptiv-value("padding-top", 250, 50, 0);
	@include adaptiv-value("padding-bottom", 130, 50, 0);

	&__header {
		text-align: center;
		@include adaptiv-value("margin-bottom", 55, 20, 0);
	}

	&__title {
		@include adaptiv-value("margin-bottom", 20, 10, 0);
	}


	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px -15px;
		min-width: 0;
	}

	&__column {
		flex: 0 0 25%;
		padding: 0px 15px;
		min-width: 0;
	}

	&__item {
		background-color: #292a3c;
	}
}

.item-price {
	border-radius: 6px;
	position: relative;
	box-shadow: 0px 16px 28px 0px rgba(23, 23, 34, 0.31);
	display: flex;
	flex-direction: column;
	height: 100%;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		@include adaptiv-value("height", 73, 50, 0);
		top: 0;
		left: 0;
		background-color: #292a3c;
		box-shadow: 0px 16px 28px 0px rgba(23, 23, 34, 0.31);
		border-radius: 6px 6px 0 0;
	}
	&__wrapper {
		flex: 1 1 auto;
		@include adaptiv-value("padding-top", 30, 10, 0);
		@include adaptiv-value("padding-right", 30, 10, 0);
		@include adaptiv-value("padding-bottom", 30, 10, 0);
		@include adaptiv-value("padding-left", 30, 10, 0);
	}
	&__icon {
		text-align: center;
		@include adaptiv-value("margin-bottom", 15, 7, 0);
		position: relative;
		z-index: 1;
		img {
			max-width: 100%;
		}
	}

	&__header {
		font-weight: 500;
		color: #ffffff;
		display: flex;
		justify-content: space-between;
		@include adaptiv-value("margin-bottom", 10, 7, 0);
	}

	&__volume {
		display: flex;
		span {
			font-size: 11px;
			margin: 0px 2px 0px 0px;
		}
	}
}
.body-item-price {
	&__header {
		font-size: 10px;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		@include adaptiv-value("margin-bottom", 10, 7, 0);
	}

	&__currency {
		color: #9d9da6;
	}

	&__percent {
		color: #f02e23;
		&-green {
			color: #3bf023;
		}
	}

	&__img {
		padding: 0px 0px 47.87% 0px;
		@include adaptiv-value("margin-bottom", 10, 7, 0);
	}

	&__tabs {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__tab {
		cursor: pointer;
		font-size: 12px;
		color: #9d9da6;
		&.active {
			color: #ffffff;
			background-color: #383950;
			border-radius: 11px;
			padding: 6px 12px;
			@include adaptiv-value("padding-top", 6, 3, 0);
			@include adaptiv-value("padding-right", 12, 6, 0);
			@include adaptiv-value("padding-bottom", 6, 3, 0);
			@include adaptiv-value("padding-left", 12, 6, 0);
		}
	}
}

.footer-price {
	background-color: #303146;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 6px 6px;
	@include adaptiv-value("padding-top", 10, 5, 0);
	@include adaptiv-value("padding-right", 30, 15, 0);
	@include adaptiv-value("padding-bottom", 10, 5, 0);
	@include adaptiv-value("padding-left", 30, 15, 0);
	&__text {
		color: #9d9da6;
	}

	&__volume {
		font-weight: 500;
		color: #ffffff;
	}
}
