@media (any-hover: hover) {
	.header__logo {
		&:hover {
			transform: scale(1.07);
		}
	}
	.menu__link {
		&:hover {
			transform: scale(1.07);
			&:after {
				left: 0%;
				width: 100%;
			}
		}
	}
	.menu {
		&__sublink {
			&:hover {
				&:after {
					left: 0%;
					width: 100%;
				}
			}
		}
	}
	.actions-header {
		&__login {
			&:hover {
				transform: scale(1.1);
			}
		}
		&__register {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

body.pc .menu__list > .menu__item:hover .menu__sublist {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}
body.pc .menu__list > .menu__item:hover .menu__arrow {
	transform: rotate(-135deg) scale(1.07);
}
body.touch .menu__list > .menu__item {
	display: flex;
	align-items: center;
}
body.touch .menu__link {
	flex: 1 1 auto;
}

body.touch .menu__list > .menu__item.active .menu__sublist {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body.touch .menu__list > .menu__item.active .menu__arrow {
	transform: rotate(-135deg);
}

@media (max-width: 1410.98px) {
	.header__row {
		padding: 0px;
	}
}
@media (max-width: 1320.98px) {
	.header {
		&__column {
			&:first-child {
				flex: 0 0 10%;
			}
			flex: 0 0 70%;
			&:last-child {
				flex: 0 0 20%;
			}
		}
	}
}
@media (max-width: 1300.98px) {
	.header {
		&__row {
			justify-content: space-between;
		}
	}
}
@media (max-width: 1074.98px) {
}
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
@media (min-width: 1074.98px) {
	.menu {
		&__list {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__item {
			padding: 10px 0;
		}
		&__sublist {
			transform: translate(0, 10%);
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;
			pointer-events: none;
		}
	}
}
