@media (any-hover: hover) {
	.header__logo {
		&:hover {
			transform: scale(1.07);
		}
	}
	.menu__link {
		&:hover {
			transform: scale(1.07);
			&:after {
				left: 0%;
				width: 100%;
			}
		}
	}
	.menu__sublink {
		&:hover {
			transform: scale(1.07);
			&:after {
				left: 0%;
				width: 100%;
			}
		}
	}
	.actions-header {
		&__login {
			&:hover {
				transform: scale(1.1);
			}
		}
		&__register {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
@media (max-width: 1410.98px) {
	.header__row {
		padding: 0px;
	}
}
@media (max-width: 1320.98px) {
	.header {
		&__column {
			&:first-child {
				flex: 0 0 10%;
			}
			flex: 0 0 70%;
			&:last-child {
				flex: 0 0 20%;
			}
		}
	}
}
@media (max-width: 1300.98px) {
	.header {
		&__row {
			justify-content: space-between;
		}
	}
}
@media (max-width: 1074.98px) {
	.menu {
		&__sublist {
			transform: translate(0, 0);
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}
}
@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
